* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 17px;
  /* font-weight: bold; */
  border-radius: 0px;
  margin: 0;
}

window#waybar {
  background-color: transparent;
  border-radius: 10px;
  padding-top: 0px;
  margin-top: 0;
}

.modules-right {
  font-size: 10px;
  background-color: #45403d;
  border-radius: 10px;
  padding: 0;
  margin: 5 0 5 0;
}

.modules-left {
  margin-left: 0.1rem;
  background-color: #45403d;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1px 0px;
  border-radius: 10px;
}

.modules-center {
  padding: 0px;
  margin: 5 0 5 0;
}

tooltip {
  background: #45403d;
  border-radius: 10px;
}

tooltip label {
  color: #ebdbb2;
  background-color: #45403d;
  border-radius: 10px;
}

tooltip * {
  border-radius: 10px;
}

#workspaces {
  margin: 1px;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

#workspaces button {
  margin: 0;
  color: #d4be98;
  font-weight: bolder;
  font-style: normal;
  margin: 0.2rem 0.1rem;
  border-radius: 20px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: #d4be98;
  color: #45403d;
  border-radius: 10px;
}

#workspaces button.active {
  color: #ebdbb2;
  background-color: rgba(125, 174, 163, 0.9);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.818);
  transition: all 0.1s ease-in-out;
  border-radius: 20px;
}

#clock,
#custom-weather,
#custom-updates {
  font-family: 'GE Inspira';
  font-weight: bolder;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  color: #d4be98;
  background-color: #45403d;
}

#clock {
  padding: 0 0 0 1.5em;
  border-radius: 10 0 0 10;
}

#custom-updates {
  padding-left: 1rem;
}

#custom-show_taskbar {
  padding-left: 1rem;
}
#custom-weather {
  padding: 0 1.5em 0 0.3em;
  border-radius: 0 10 10 0;
}

#custom-spotify {
  padding: 0 0 0 1.5em;
  border-radius: 10 0 0 10;
}
#memory {
  color: #a9b665;
  padding: 0 0.3em 0 0.5em;
  border-radius: 10 0 0 10;
}

#pulseaudio {
  margin: 0;
  padding: 0 0.5em 0 0.4em;
  color: #d8a657;
}

#backlight {
  margin: 0;
  padding: 0 0.5em 0 0.4em;
  color: #d8a657;
}

#cpu {
  margin: 0;
  padding: 0 0.1em 0 0.1em;
  color: #a9b665;
}

#network {
  margin: 0;
  padding: 0 0.4em 0 0.5em;
  color: #d8a657;
}

#custom-cycle_wall {
  margin: 0;
  padding: 0 0.5em;
  color: #d3869b;
}

#language {
  margin: 0;
  padding: 0 0.1em;
  color: #d3869b;
}

#tray {
  margin: 0;
  padding-right: 10px;
  color: #d3869b;
  border-radius: 0 10 10 0;
}

#battery {
  margin: 0;
  padding: 0 0.5em 0 0.8em;
  color: #a9b665;
}

#disk {
  margin: 0;
  padding: 0 0.1em 0 0.1em;
  color: #a9b665;
}

#window {
  color: #ebdbb2;
  margin-left: 0rem;
  margin-right: 1rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.818);
  transition: all 0.1s ease-in-out;
  border-radius: 0px;
  font-size: 15px;
}
