/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #32302FFF;
    background-alt: #32302FFF;
    foreground:     #D4BE98; /* #EBDBB2FF; */
    selected:       #89B482FF;     
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
